.App {
    padding: 1rem;
}

.flex-row {
    display: flex;
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.instruction-table td {
    padding: 0.5rem 1rem;
    vertical-align: top;
    text-align: left;
}

.byte-table td {
    padding: 0 2rem;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.byte-table .byte-table-position-column {
    width: 15rem;
}

.byte-table .byte-table-byte-size-column {
    width: 10rem;
}

.byte-table .byte-table-byte-column {
    width: 25rem;
    font-family: Courier, serif;
}